/* Define margens e família de fontes padrão para o corpo da página */
body {
    margin: 20px;
    font-family: 'Roboto', sans-serif; /* Adiciona uma fonte externa do Google Fonts */
}

/* Estiliza o cabeçalho da página */
.page-header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estiliza a seção principal da página usando o layout de grid */
.page-main {
    max-width: 1360px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr; /* Define três colunas com larguras relativas */
    gap: 20px;
    padding: 20px;
    grid-template-areas: 
        "menu news highlights"
        "services results results";
    margin-bottom: 3rem;
}

/* Estiliza a área do menu */
.menu {
    grid-area: menu;
    background-color: #f2f2f2;
    padding: 10px;
    display: inline-block;
}

/* Estiliza a lista de itens do menu */
.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-list li {
    margin-bottom: 10px; /* Ajuste de espaçamento entre os itens */
    font-size: 1.4em;
}

.menu-list li:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Estiliza a área de notícias */
.news {
    grid-area: news;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Estiliza a área de destaques */
.highlights {
    display: grid;
    grid-template-areas: "title" "images";
    grid-template-rows: auto 1fr; /* Ajusta a altura das linhas conforme necessário */
    background-color: #f2f2f2;
    padding: 10px;
}

/* Estiliza a área de imagens de destaque */
.img-highlights {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-area: images;
    justify-items: center;
    align-items: center;
}

/* Estiliza a área de serviços */
.services {
    grid-area: services;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Estiliza a área de resultados */
.results {
    grid-area: results;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Estiliza o rodapé da página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Adiciona uma segunda fonte externa do Google Fonts especificamente para títulos h2 */
h2 {
    font-family: 'Lobster', cursive;
}

/* Media query para design responsivo - altera o layout para uma única coluna em telas menores */
@media screen and (max-width: 768px) {
    .page-main {
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "menu"
            "news"
            "highlights"
            "services"
            "results"
            "results";
    }
}
