@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background: linear-gradient(rgb(148, 44, 44), rgb(36, 44, 161));
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

/* Conteúdo da página */
.container {
    max-width: 45rem;
    background: #ecf4ff;
    color: #1c1c1c;
    border-radius: 1rem;
    box-shadow: 6px 6px 6px #0E1D2F;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 4rem;
}

/* 1 Cabeçalho */
.pageheader {
    display: flex;
    justify-content: space-between;
}

.perfil {
    display: flex;
}

.imgperfil {
    border-radius: 100rem;
    max-height: 6.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.info-perfil {
    margin-left: 1.5rem;
}

.info-perfil h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.info-perfil h3 {
    font-weight: 400;
    font-size: 1rem;
}

.info-perfil p {
    font-weight: 400;
    color: #949494;
}

/* 1.2 Ícones  */
.link-icon {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(36, 44, 161);
    transition: color 0.2s;
}

.link-icon:hover {
    color: orangered;
}

/* Estilizar botão para voltar */
.back a{
    color: #1c1c1c;
    text-decoration: none;    
}

.back button {
    background: #c9c8c8;
    align-self: flex-end;
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s;
    cursor: pointer;
}

.back button:hover {
    background-color: orangered;
}

/* 2 Projetos */
.projects {
    background: linear-gradient(150deg, rgb(40, 149, 212), rgb(9, 80, 212));
    color: #ecf4ff;
    display: flex;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
}

/* 2.1 Cabeçalho da seção projetos */
.projects-header {
    color: #131313;
}

.projects-header h4 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.projects-header p {
    color: #1c1c1c;
    margin-bottom: 0.2rem;
}

/* 2.2 Seção dos códigos */
.linkProjects {
    padding: 0rem;
    background: rgb(190, 185, 185);
    height: 6.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkProjects h5 {
    margin-top: 0.4rem;
    margin-left: 0.2rem;
    font-size: 0.8rem;
}

.codes-section a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    color: #131313;
    transition: color 0.2s;
}

.codes-section div {
    display: inline-block;
    margin: 0.7rem;
    text-align: left;
}

.preview {
    width: 100%;
    width: 10rem;
    height: 5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.codes-section a:hover {
    color: rgb(9, 80, 212);
}

@media only screen and (max-width: 750px) {
    .container {
        padding: 2rem;
    }

    .perfil {
        flex-direction: column;
        align-items: center;
    }

    .imgperfil {
        max-width: 100%;
        height: auto; 
    }

    .info-perfil {
        margin-left: 0;
        margin-top: 1rem;
    }

    .back button {
        font-size: 0.8rem;
    }

    .linkProjects {
        height: auto;
    }

    .preview {
        height: auto; 
    }
}

@media only screen and (max-width: 400px) {
    .imgperfil {
        display: none;
    }

    .preview {
        display: none;
    }

    .linkProjects {
        /* Tirar cor do background */
        background: none;
        box-shadow: none;
    }
}
