.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-button {
  margin-right: 8px;
}
