<c-row class="g-3">
  <c-col [sm]="12" [md]="6" [lg]="4">
    <label cLabel for="fatherIdFilter">Filter by Father ID:</label>
    <input class="form-control" type="text" id="fatherIdFilter" [(ngModel)]="fatherIdFilter" (input)="applyFilters()">
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
    <label cLabel for="motherIdFilter">Filter by Mother ID:</label>
    <input class="form-control" type="text" id="motherIdFilter" [(ngModel)]="motherIdFilter" (input)="applyFilters()">
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
    <label cLabel for="dateOfBirthFilter">Filter by Date of Birth:</label>
    <input class="form-control" type="date" id="dateOfBirthFilter" [(ngModel)]="dateOfBirthFilter"
      (input)="applyFilters()">
  </c-col>
</c-row>

<c-row class="g-3">
  <c-col [sm]="12" [md]="6" [lg]="4">
    <label cLabel for="dateOfExitFilter">Filter by Date of Exit:</label>
    <input class="form-control" type="date" id="dateOfExitFilter" [(ngModel)]="dateOfExitFilter"
      (input)="applyFilters()">
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
    <label cLabel for="genderFilter">Filter by Gender:</label>
    <select class="form-control" id="genderFilter" [(ngModel)]="genderFilter" (change)="applyFilters()">
      <option value="">All</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
    <label cLabel for="statusFilter">Filter by Status:</label>
    <select class="form-control" id="statusFilter" [(ngModel)]="statusFilter" (change)="applyFilters()">
      <option value="">All</option>
      <option value="Alive">Alive</option>
      <option value="Dead">Dead</option>
      <option value="Sold">Sold</option>
    </select>
  </c-col>
</c-row>

<c-row class="mt-4">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        Pigs
        <button cButton color="primary" class="float-end" size="sm" [routerLink]="['/registration/register-pig']">Add
          Pig</button>
      </c-card-header>
      <c-card-body>


        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">

          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilAnimal"></svg>
              </th>
              <th class="text-center">Identifier</th>
              <th class="text-center">Age</th>
              <th class="text-center">Parents</th>
              <th class="text-center">Status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="loading">
            <tr>
              <td colspan="6" class="text-center">
                <div class="m-2">
                  <c-spinner label="Loading..."></c-spinner>
                </div>
              </td>
            </tr>
          </tbody>

          <tbody *ngIf="!loading && filteredPigs.length == 0 ">
            <tr>
              <td></td>
              <td></td>
              <td colspan="2" class="text-center">
                <div class="m-2">
                  <svg cIcon name="cilSad"></svg>
                  <span class="text-medium-emphasis">
                    Nothing to see here
                  </span>
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>

          <tbody *ngIf="!loading">
            <tr *ngFor="let pig of filteredPigs; index as i">

              <td class="text-center">
                <c-avatar size="md" src="{{ avatar }}"></c-avatar>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{ pig.gender }}
                  </span>
                </div>
              </td>

              <td class="text-center">
                <div>{{ pig.identifier }}</div>
              </td>

              <td class="text-center">
                <div>
                  Birth: {{ pig.date_birth | formatDate }}
                </div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{ pig.date_birth | calculateAge }}
                  </span>
                </div>
              </td>

              <td class="text-center">
                <div class="small text-nowrap">
                  Father ID: {{ pig.father_id }}
                </div>
                <div class="small text-nowrap">
                  Mother ID: {{ pig.mother_id }}
                </div>
              </td>

              <td class="text-center">
                <div>{{ pig.status }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    Exit: {{ pig.date_exit | formatDate }}
                  </span>
                </div>
              </td>

              <td class="text-center">
                <c-dropdown variant="btn-group" direction="center">
                  <button cButton cDropdownToggle color="secondary" size="sm">
                    <svg cIcon name="cil-settings"></svg>
                  </button>
                  <ul cDropdownMenu>
                    <li><button cDropdownItem (click)="addWeightMode(pig)">Add Weight</button></li>
                    <li><button cDropdownItem (click)="weightControlMode(pig)">Weight Control</button></li>
                    <li><button cDropdownItem (click)="pigHistoryMode(pig)">Activity History</button></li>
                    <li><button cDropdownItem (click)="chartMode(pig)">See Dashboard</button></li>
                    <li><button cDropdownItem (click)="editMode(pig)">Edit Pig</button></li>
                    <li><button cDropdownItem (click)="deleteMode(pig)">Delete Pig</button></li>
                  </ul>
                </c-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-pagination aria-label="Page navigation example">
  <li cPageItem *ngIf="currentPage > 1">
    <a cPageLink (click)="onPageChange(currentPage - 1)">Previous</a>
  </li>
  <li cPageItem *ngFor="let page of getPageNumbers()">
    <a cPageLink (click)="onPageChange(page)">{{ page }}</a>
  </li>
  <li cPageItem *ngIf="currentPage < totalPages">
    <a cPageLink (click)="onPageChange(currentPage + 1)">Next</a>
  </li>
</c-pagination>


<c-modal id="deleteModal" [visible]="modalDelete" (visibleChange)="handleDeleteMode($event)">
  <c-modal-header>
    <h5 cModalTitle>Delete Pig</h5>
    <button (click)="toggleDeleteMode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Are you sure you want to delete this pig?</c-modal-body>
  <c-modal-footer>
    <button (click)="cancelDelete()" cButton color="secondary">
      Cancel
    </button>
    <button cButton color="primary" (click)="deletePig()">Confirm</button>
  </c-modal-footer>
</c-modal>

<c-modal id="addWeightModal" [visible]="modalWeight" (visibleChange)="handleAddWeight($event)">
  <c-modal-header>
    <h5 cModalTitle>Add Weight</h5>
    <button (click)="toggleAddWeight()" cButtonClose></button>
  </c-modal-header>
  <form cForm [formGroup]="formAddWeight">

    <c-modal-body>
      <c-row class="mb-1">
        <label [sm]="4" cCol cLabel="col" for="date">Weighing Date</label>
        <c-col *ngIf="formAddWeight.controls['date'] as ctrl" [sm]="8">
          <input [valid]="
                  ctrl.touched && ctrl.valid
                    ? true
                    : (weightSubmitted || ctrl.touched) && ctrl.invalid
                    ? false
                    : undefined
                " autocomplete="off" cFormControl formControlName="date" id="date" placeholder="Weighing Date" required
            type="date" />
          <c-form-feedback *ngIf="weightSubmitted || ctrl.invalid" [valid]="!(weightSubmitted || ctrl.invalid)">
            <ng-container *ngIf="ctrl.errors as errors">
              <div *ngIf="errors['required']">Weighing date is required</div>
              <div *ngIf="errors['pattern']">
                {{ formErrors['date'].pattern }}
              </div>
            </ng-container>
          </c-form-feedback>
        </c-col>
      </c-row>

      <c-row class="mb-1">
        <label [sm]="4" cCol cLabel="col" for="weight">weight</label>
        <c-col *ngIf="formAddWeight.controls['weight'] as ctrl" [sm]="8">
          <input [valid]="
                  ctrl.touched && ctrl.valid
                    ? true
                    : (weightSubmitted || ctrl.touched) && ctrl.invalid
                    ? false
                    : undefined
                " autocomplete="off" cFormControl formControlName="weight" id="weight" placeholder="weight" required
            type="text" />
          <c-form-feedback *ngIf="weightSubmitted || ctrl.invalid" [valid]="!(weightSubmitted || ctrl.invalid)">
            <ng-container *ngIf="ctrl.errors as errors">
              <div *ngIf="errors['required']">weight is required</div>
              <div *ngIf="errors['pattern']">
                {{ formErrors['weight'].pattern }}
              </div>
            </ng-container>
          </c-form-feedback>
        </c-col>
      </c-row>

    </c-modal-body>

    <c-modal-footer>
      <button (click)="cancelAddWeight()" cButton color="secondary">
        Cancel
      </button>
      <button cButton color="primary" (click)="addWeight()">Confirm</button>

    </c-modal-footer>
  </form>
</c-modal>
